@page
@model mission09_rjackso3.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">

    <h2>Thanks, we'll ship your order as soon as possible!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>